.packaging-bags {
  padding-top: 40px;
  padding-bottom: 60px;

  .img-wrapper {
    max-width: 358px;
    margin-bottom: 24px;
  }

  img {
    margin-bottom: 24px;
  }

  .title {
    @include title;
    margin-bottom: 48px;
  }
  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
  }

  .product-wrapper {
    @include product-wrapper;
    .product-text-wrapper {
      @include product-text-wrapper;
    }
  }

  .subtitle {
    @include subtitle;
  }

  .types-list {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    p {
      display: flex;
      align-items: center;
      &:before {
        display: inline-block;
        flex-shrink: 0;
        content: '';
        width: 24px;
        height: 24px;
        background-color: $accentColor;
        margin-right: 8px;
        border-radius: 50%;
      }
    }
  }

  .btn-link {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}

// ============== Tablet styles ==============

@media screen and (min-width: 768px) {
  .packaging-bags {
    .img-wrapper {
      display: flex;
      justify-content: center;
      max-width: 704px;
      height: 490px;
      margin-bottom: 0;
    }
  }
}

// ============== Desktop styles ==============

@media screen and (min-width: 1440px) {
  .packaging-bags {
    .title {
      margin-bottom: 48px;
    }
    .product-wrapper {
      width: 774px;
      margin-left: auto;
      margin-right: auto;
    }
    .img-wrapper {
      img {
        width: 100%;
      }
    }
  }
}
