.paper-package {
  padding-top: 40px;
  padding-bottom: 60px;

  .img-wrapper {
    max-width: 358px;
    margin-bottom: 24px;
  }

  img {
    margin-bottom: 24px;
  }

  .title {
    @include title;
    margin-bottom: 48px;
  }
  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
  }

  .product-wrapper {
    @include product-wrapper;
  }

  .subtitle {
    @include subtitle;
  }

  .text-container {
    margin-bottom: 36px;
    p + p {
      margin-top: 24px;
    }
  }

  .btn-link {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}

// ============== Tablet styles ==============

@media screen and (min-width: 768px) {
  .paper-package {
    .img-wrapper {
      display: flex;
      justify-content: center;
      max-width: 704px;
      height: 490px;
      margin-bottom: 24px;
    }
  }
}
