.paper-package {
  padding-top: 40px;
  padding-bottom: 60px;

  img {
    margin-bottom: 24px;
  }

  .title {
    @include title;
    margin-bottom: 48px;
  }
  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
  }

  .product-wrapper {
    @include product-wrapper;
  }

  .subtitle {
    @include subtitle;
  }

  .text-container {
    margin-bottom: 36px;
    p + p {
      margin-top: 24px;
    }
  }

  button {
    @include btn;
    @include btn-full(700);
    padding: 17px 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
