.recycled-bags {
  padding-top: 40px;
  padding-bottom: 60px;

  img {
    margin-bottom: 24px;
  }

  .title {
    @include title;
    margin-bottom: 48px;
  }
  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
  }

  .product-wrapper {
    @include product-wrapper;
  }

  .subtitle {
    @include subtitle;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .types-list {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    p {
      display: flex;
      align-items: center;
      &:before {
        display: inline-block;
        flex-shrink: 0;
        content: '';
        width: 24px;
        height: 24px;
        background-color: $accentColor;
        margin-right: 8px;
        border-radius: 50%;
      }
    }
  }

  .types-description-list {
    margin-bottom: 36px;
    li + li {
      margin-top: 24px;
    }
  }

  button {
    @include btn;
    @include btn-full(700);
    padding: 17px 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
