.t-shirt-package {
  padding-top: 40px;
  padding-bottom: 60px;

  img {
    margin-bottom: 24px;
  }

  .title {
    @include title;
    margin-bottom: 48px;
  }
  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
  }

  .product-wrapper {
    @include product-wrapper;
  }

  .subtitle {
    @include subtitle;
  }

  p + p {
    margin-top: 36px;
  }

  .btn-link {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}
