.catalog {
  padding-top: 40px;
  padding-bottom: 60px;

  .title {
    @include title;
  }

  .products-list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    li {
      width: 358px;
      height: 360px;

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        height: 90px;
        padding: 33px 50px;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        background-color: $accentColor;
        color: $lightColor;

        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }
    }
  }

  .img-wrap {
    width: 358;
    height: 270px;
  }
}

// ============== Tablet styles ==============

@media screen and (min-width: 768px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
    .img-wrap {
      width: 342px;
      height: 280px;
    }

    .products-list {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 38px;
      li {
        width: calc(((100% - 20px) / 2));
      }
    }
  }
}
