<section class="contacts">
  <div class="container">
    <h1 class="title">Контакти</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18734.307641822976!2d23.972317756757366!3d49.856660036682925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473addc2b293b25b%3A0x91578a9729f140c5!2z0YPQuy4g0KjQtdCy0YfQtdC90LrQviwgMtCwLCDQktC10LvQuNC60L7QtSDQmtC-0LvQvtC00L3Qviwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA4MDQzNA!5e0!3m2!1sru!2sua!4v1693514982237!5m2!1sru!2sua"
      width="358"
      height="358"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="phone-wrapper">
      <h3 class="subtitle">Телефон:</h3>
      <a class="text" href="tel:+380993260001">+38 (099) 326 00 01</a>
    </div>
    <div class="email-wrapper">
      <h3 class="subtitle">E-mail:</h3>
      <a class="text" href="mailto:eko_stakan@ukr.net">eko_stakan@ukr.net</a>
    </div>
    <h3 class="subtitle">Адреса:</h3>
    <p class="text address">
      Львівська область, <br />
      Яворівський район, <br />
      с. Карачинів, вул. Шевченка 2А
    </p>
    <h3 class="subtitle">Контактні особи</h3>
    <ul class="contact-list">
      <li>
        <p class="text">Оверко Роман Богданович</p>
        <a class="text" href="tel:+380993260001">+38 (099) 326 00 01</a>
      </li>
      <li>
        <p class="text">Гірняк Володимир</p>
        <a class="text" href="tel:+380989255304">+38 (098) 925 53 04</a>
      </li>
    </ul>

    <div class="button-wrapper">
      <button class="to-catalog-btn" type="button">Перейти у каталог</button>
      <button class="to-home-btn" type="button">Головна</button>
    </div>
  </div>
</section>
