<section class="catalog">
  <div class="container">
    <h1 class="title">Каталог продукції</h1>
    <ul class="products-list">
      <li>
        <img
          src="./images/contacts/mobile/plastic-glass.png"
          alt="plastic glass"
        />
        <h3>Стакани одноразові</h3>
      </li>
      <li>
        <img src="./images/contacts/mobile/t-shirt-bag.png" alt="t-shirt-bag" />
        <h3>Пакети «Майка»</h3>
      </li>
      <li>
        <img src="./images/contacts/mobile/paper-bags.png" alt="paper bags" />
        <h3>Паперові пакети</h3>
      </li>
      <li>
        <img
          src="./images/contacts/mobile/packaging-bags.png"
          alt="packaging bags"
        />
        <h3>Фасувальні пакети</h3>
      </li>
      <li>
        <img src="./images/contacts/mobile/inside-bags.png" alt="inside bags" />
        <h3>Пакети вкладиші</h3>
      </li>
      <li>
        <img
          src="./images/contacts/mobile/recycled-bags.png"
          alt="recycled bags"
        />
        <h3>Рециклінові пакети з переробленого пластику</h3>
      </li>
    </ul>
  </div>
</section>
