<section class="catalog">
  <div class="container">
    <h1 class="title">Каталог продукції</h1>
    <ul class="products-list">
      <li>
        <div class="img-wrap">
          <img
            src="./images/contacts/mobile/plastic-glass.png"
            alt="plastic glass"
          />
        </div>
        <a href="./disposal-cup.html"><h3>Стакани одноразові</h3></a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            src="./images/contacts/mobile/t-shirt-bag.png"
            alt="t-shirt-bag"
          />
        </div>
        <a href="./t-shirt-package.html"><h3>Пакети «Майка»</h3></a>
      </li>
      <li>
        <div class="img-wrap">
          <img src="./images/contacts/mobile/paper-bags.png" alt="paper bags" />
        </div>
        <a href="./paper-package.html"><h3>Паперові пакети</h3></a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            src="./images/contacts/mobile/packaging-bags.png"
            alt="packaging bags"
          />
        </div>
        <a href="./packaging-bags.html"><h3>Фасувальні пакети</h3></a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            src="./images/contacts/mobile/inside-bags.png"
            alt="inside bags"
          />
        </div>
        <a href="./inside-bags.html"><h3>Пакети вкладиші</h3></a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            src="./images/contacts/mobile/recycled-bags.png"
            alt="recycled bags"
          />
        </div>
        <a href="./recycled-bags.html">
          <h3>Рециклінові пакети з переробленого пластику</h3></a
        >
      </li>
    </ul>
  </div>
</section>
