<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <span class="logo-text">Еко</span>
      <svg width="32" height="32" style="fill: white">
        <use href="images/icon-sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">Пак</span>
    </div>
    <nav class="nav-container">
      <ul>
        <li>
          <p class="nav-item-text">Головна</p>
        </li>
        <li>
          <p class="nav-item-text">Каталог</p>
        </li>
        <li>
          <p class="nav-item-text">Про нас</p>
        </li>
        <li>
          <p class="nav-item-text">Контакти</p>
        </li>
      </ul>
      <ul>
        <li>
          <p class="nav-item-text">Стакани одноразові</p>
        </li>
        <li>
          <p class="nav-item-text">Пакети «Майка»</p>
        </li>
        <li>
          <p class="nav-item-text">Паперові пакети</p>
        </li>
        <li>
          <p class="nav-item-text">Фасувальні пакети</p>
        </li>
        <li>
          <p class="nav-item-text">Пакети владиші</p>
        </li>
        <li>
          <p class="nav-item-text">Рециклінові пакети</p>
        </li>
      </ul>
    </nav>
    <ul class="contacts">
      <li class="contacts-item">
        <svg width="32" height="32" style="fill: white">
          <use href="images/icon-sprite.svg#icon-phone"></use>
        </svg>
        <a class="contact-text" href="tel:+380993260001">+38 (099) 326 00 01</a>
      </li>
      <li class="contacts-item">
        <svg width="32" height="32" style="fill: white">
          <use href="images/icon-sprite.svg#icon-email"></use>
        </svg>
        <a class="contact-text" href="mailto:eko_stakan@ukr.net"
          >eko_stakan@ukr.net</a
        >
      </li>
    </ul>
    <div class="address">
      <h3 class="address-subtitle">Адреса:</h3>
      <p class="address-text">Львівська область,</p>
      <p class="address-text">Яворівський район,</p>
      <p class="address-text">с. Карачинів, вул. Шевченка 2А</p>
    </div>
  </div>
</footer>
