.main-hero {
  padding-bottom: 290px;

  position: relative;
}

.hero-content-wrapper {
  position: absolute;
  bottom: 64px;
  max-width: 358px;
  .btn-link {
    display: inline-block;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}

.main-text {
  margin-bottom: 12px;
  color: $darkColor;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.secondary-text {
  margin-bottom: 26px;
  color: $darkColor;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
