.main-hero {
  padding-top: 290px;
  padding-bottom: 64px;
 
  &.bcg{
 background-image: url(../img/hero-bcg/mobile/image-hero.png);
  background-repeat: no-repeat;
  background-position: center top;
  }
  
  .main-hero-container {
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
  .main-hero{
&.bcg{
      background-image: url(../img/hero-bcg/mobile/image-hero@2x.png);
}
  }
  }

.hero-content-wrapper {
  max-width: 358px;
  .btn-link {
    display: inline-block;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}

.main-text {
  margin-bottom: 12px;
  color: $darkColor;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.secondary-text {
  margin-bottom: 26px;
  color: $darkColor;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
