<section class="proposal">
  <div class="container">
    <h2 class="title">Що ми пропонуємо</h2>
    <div class="text-wrapper">
      <p class="text">
        Тут представлена основна наша продукція, яку ми виготовляємо. <br />
        У виробництві ми використовуємо егологічні технології.
      </p>
      <p class="text">
        Саме наша продукція покращить відношення Ваших клієнтів до бізнесу та
        збільшить прибутки, тому що це екологічно!
      </p>
    </div>
    <img src="images/main/plastic-glass.png" alt="plastic-glass" />
    <a href="./disposal-cup.html"
      ><p class="image-subtext">Стакани одноразові</p></a
    >
    <a class="btn-link" href="./catalog.html">Перейти у каталог</a>
  </div>
</section>
