.about-main {
  padding-top: 40;
  padding-bottom: 60px;
  .title {
    @include title;
  }

  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%;
  }

  .subtitle {
    color: $darkColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .first-part-text {
    margin-bottom: 12px;
  }

  .second-part-text {
    margin-bottom: 20px;
  }

  .third-part-text {
    margin-bottom: 20px;
  }

  .fourth-part-text {
    margin-bottom: 20px;
  }

  .uniq-wrapper {
    padding: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: self-end;
    justify-content: space-between;

    border-radius: 20px;
    background: $lightColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  }

  .eco-wrapper {
    width: 358px;
    height: 308px;
    margin-bottom: 20px;
    position: relative;
    padding: 24px;
    display: flex;
    align-items: self-end;
    justify-content: space-between;

    border-radius: 20px;
    background: $lightColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

    .subtitle {
      z-index: 100;
    }

    img {
      position: absolute;
      width: 330px;
      height: 278px;
      top: 0;
      right: 0;
    }
  }
  .btn-link {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    @include btn;
    @include btn-full(600);
    padding-left: 47px;
    padding-right: 47px;
  }
}

// ============== Tablet styles ==============
@media screen and (min-width: 768px) {
  .about-main {
    .first-wrap {
      margin-bottom: 47px;

      display: grid;
      grid-template-columns: 362px 342px;
      grid-template-rows: 60px 224px 112px;
      grid-row-gap: 24px;

      .first-part-text {
        margin-bottom: 0;
        grid-column: 1;
        grid-row: 2;
      }

      .second-part-text {
        margin-bottom: 0;
        grid-row: 3/3;
        grid-column: 1/3;
      }

      .uniq-wrapper {
        grid-column: 2;
        grid-row: 1/3;
      }
    }

    .second-wrap {
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 308px 112px;
      grid-column-gap: 20px;
      grid-row-gap: 24px;

      .third-part-text {
        margin-bottom: 0;
        grid-area: 1/2/2/2;
      }
      .fourth-part-text {
        margin-bottom: 0;
        grid-area: 2/1/2/3;
      }
    }
  }
}
