.about-main {
  padding-top: 40;
  padding-bottom: 60px;
  .title {
    @include title;
  }

  .text {
    color: $darkColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%;
  }

  .subtitle {
    color: $darkColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .first-part-text {
    margin-bottom: 12px;
  }

  .second-part-text {
    margin-bottom: 20px;
  }

  .third-part-text {
    margin-bottom: 20px;
  }

  .fourth-part-text {
    margin-bottom: 20px;
  }

  .uniq-wrapper {
    padding: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: self-end;
    justify-content: space-between;

    border-radius: 20px;
    background: $lightColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  }

  .eco-wrapper {
    width: 358px;
    height: 308px;
    margin-bottom: 20px;
    position: relative;
    padding: 24px;
    display: flex;
    align-items: self-end;
    justify-content: space-between;

    border-radius: 20px;
    background: $lightColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

    .subtitle {
      z-index: 100;
    }

    img {
      position: absolute;
      width: 330px;
      height: 278px;
      top: 0;
      right: 0;
    }
  }
  button {
    @include btn;
    @include btn-full(700);
    padding: 17px 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
